# **Building Q&A systems of SQL databases**
## **1. Introduction**
 -  해당 샘플은 [SQL-Quiclkstart by LangChain](https://python.langchain.com/docs/use_cases/sql/quickstart)를 참고하였습니다.

## **2. Setup**

### 2.1 Setting
 - Auto Reload
 - path for utils

In [48]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [49]:
import sys, os
module_path = "../.."
sys.path.append(os.path.abspath(module_path))

### 2.2 Package Installation
- Install here ==> [package install](../../00_setup/setup.ipynb)

### 2.3. Bedrock Client 생성

In [50]:
import json
import boto3
from pprint import pprint
from termcolor import colored
from utils import bedrock, print_ww
from utils.bedrock import bedrock_info

### ---- ⚠️ Un-comment and edit the below lines as needed for your AWS setup ⚠️ ----
- os.environ["AWS_DEFAULT_REGION"] = "<REGION_NAME>"  # E.g. "us-east-1"
- os.environ["AWS_PROFILE"] = "<YOUR_PROFILE>"
- os.environ["BEDROCK_ASSUME_ROLE"] = "<YOUR_ROLE_ARN>"  # E.g. "arn:aws:..."
- os.environ["BEDROCK_ENDPOINT_URL"] = "<YOUR_ENDPOINT_URL>"  # E.g. "https://..."

In [53]:
boto3_bedrock = bedrock.get_bedrock_client(
    assumed_role=os.environ.get("BEDROCK_ASSUME_ROLE", None),
    endpoint_url=os.environ.get("BEDROCK_ENDPOINT_URL", None),
    region=os.environ.get("AWS_DEFAULT_REGION", None),
)

aws_region = os.environ.get("AWS_DEFAULT_REGION", None)
print (colored("\n== FM lists ==", "green"))
pprint (bedrock_info.get_list_fm_models())

Create new client
  Using region: None
  Using profile: None
boto3 Bedrock client successfully created!
bedrock-runtime(https://bedrock-runtime.us-west-2.amazonaws.com)

== FM lists ==
{'Claude-Instant-V1': 'anthropic.claude-instant-v1',
 'Claude-V1': 'anthropic.claude-v1',
 'Claude-V2': 'anthropic.claude-v2',
 'Claude-V2-1': 'anthropic.claude-v2:1',
 'Cohere-Embeddings-En': 'cohere.embed-english-v3',
 'Cohere-Embeddings-Multilingual': 'cohere.embed-multilingual-v3',
 'Command': 'cohere.command-text-v14',
 'Command-Light': 'cohere.command-light-text-v14',
 'Jurassic-2-Mid': 'ai21.j2-mid-v1',
 'Jurassic-2-Ultra': 'ai21.j2-ultra-v1',
 'Llama2-13b-Chat': 'meta.llama2-13b-chat-v1',
 'Titan-Embeddings-G1': 'amazon.titan-embed-text-v1',
 'Titan-Text-G1': 'amazon.titan-text-express-v1',
 'Titan-Text-G1-Light': 'amazon.titan-text-lite-v1'}

To use LangSmith (Not required)

In [55]:
os.environ["LANGCHAIN_API_KEY"] = <your api key>
os.environ["LANGCHAIN_TRACING_V2"] = "true"

아래 예는 Chinook 데이터베이스와의 SQLite 연결을 사용합니다. 다음 설치 단계에 따라 이 노트북과 같은 디렉터리에 Chinook.db를 만드세요 <BR>
`아래를 콘솔에서 실행합니다.` <BR><BR><BR>
*Run: sqlite3 Chinook.db* <BR>
*Run: .read Chinook_Sqlite.sql* <BR>
*Test: SELECT * FROM Artist LIMIT 10;* <BR><BR>

이제 Chinhook.db가 디렉터리에 있으며 SQLAlchemy 기반 SQLDatabase 클래스를 사용하여 인터페이스할 수 있습니다:

In [56]:
from langchain_community.utilities import SQLDatabase

**[example, mysql]** <BR>
`uri = f"mysql+pymysql://user:pass@some_mysql_db_address/db_name."` <BR>
`db = SQLDatabase.from_uri(pg_uri)`

In [57]:
db = SQLDatabase.from_uri("sqlite:///Chinook.db")
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT * FROM Employee LIMIT 10;")

sqlite
['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

"[(1, 'Adams', 'Andrew', 'General Manager', None, '1962-02-18 00:00:00', '2002-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com'), (2, 'Edwards', 'Nancy', 'Sales Manager', 1, '1958-12-08 00:00:00', '2002-05-01 00:00:00', '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com'), (3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com'), (4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com'), (5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com'), (6, 'Mitchell', 'Michael', 'IT Manager', 1, '1973-07-01 00:00:00', '2003-10-17 00:00:00', '5827 Bowness Road NW', 'Calgary', 'AB', 'Canada', 'T3B 0C5', '+1 (403) 246-9887', '+1 (403) 246-9899', 'michael@chinookcorp.com'), (7, 'King', 'Robert', 'IT Staff', 6, '1970-05-29 00:00:00', '2004-01-02 00:00:00', '590 Columbia Boulevard West', 'Lethbridge', 'AB', 'Canada', 'T1K 5N8', '+1 (403) 456-9986', '+1 (403) 456-8485', 'robert@chinookcorp.com'), (8, 'Callahan', 'Laura', 'IT Staff', 6, '1968-01-09 00:00:00', '2004-03-04 00:00:00', '923 7 ST NW', 'Lethbridge', 'AB', 'Canada', 'T1H 1Y8', '+1 (403) 467-3351', '+1 (403) 467-8772', 'laura@chinookcorp.com')]"

잘됐네요! 쿼리할 수 있는 SQL 데이터베이스가 생겼습니다. 이제 이를 LLM에 연결해 보겠습니다.

## **3. Chain**

- 질문을 받아 SQL 쿼리로 바꾸고, 쿼리를 실행한 다음 그 결과를 사용하여 원래 질문에 답하는 간단한 체인을 만들어 보겠습니다.

In [58]:
from langchain.llms.bedrock import Bedrock
from langchain.callbacks.streaming_stdout import StreamingStdOutCallbackHandler

In [59]:
llm_text = Bedrock(
    model_id=bedrock_info.get_model_id(model_name="Claude-V2-1"),
    client=boto3_bedrock,
    model_kwargs={
        "max_tokens_to_sample":4096,
        "temperature":0.5,
        "top_k":250,
        "top_p":0.5,
        "stop_sequences": ["\n\nHuman:"]
    },
    streaming=True,
    callbacks=[StreamingStdOutCallbackHandler()]
)

### 3.1 Convert question to SQL query (질문을 SQL 쿼리로 변환하기)
- SQL 체인 또는 에이전트의 첫 번째 단계는 사용자 입력을 받아 SQL 쿼리로 변환하는 것입니다.
- LangChain에는 이를 위한 기본 제공 체인이 있습니다: [create_sql_query_chain](https://api.python.langchain.com/en/latest/chains/langchain.chains.sql_database.query.create_sql_query_chain.html)

In [60]:
from langchain.schema import StrOutputParser
from langchain.chains import create_sql_query_chain
from langchain.callbacks.tracers import ConsoleCallbackHandler

In [61]:
chain = create_sql_query_chain(llm_text, db) | StrOutputParser()

* 프롬프트 한글버젼

    - **query_generation_template** = <BR>
    귀하는 SQLite 전문가입니다.<BR>
    입력 질문이 주어지면 먼저 구문적으로 올바른 SQLite 쿼리를 만들어 실행합니다.<BR>
    사용자가 질문에서 얻을 예제 수를 구체적으로 지정하지 않는 한, SQLite에 따라 LIMIT 절을 사용하여 최대 {top_k}개의 결과를 쿼리합니다. 데이터베이스에서 가장 유익한 데이터를 반환하도록 결과를 정렬할 수 있습니다.<BR>
    테이블의 모든 열에 대해 쿼리하지 마세요. 질문에 답하는 데 필요한 열만 쿼리해야 합니다. 각 열 이름을 큰따옴표(")로 묶어 구분된 식별자로 표시하세요.<BR>
    아래 표에서 볼 수 있는 열 이름만 사용하도록 주의하세요. 존재하지 않는 열을 쿼리하지 않도록 주의하세요. 또한 어떤 열이 어떤 테이블에 있는지 주의하세요.<BR>
    질문이 "오늘"과 관련된 경우 현재 날짜를 가져오기 위해 date(\'now\') 함수를 사용하도록 주의하세요.<BR>

In [62]:
query_generation_template='''

Human: You are a SQLite expert.
Given an input question, first create a syntactically correct SQLite query to run.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date(\'now\') function to get the current date, if the question involves "today".

Only use the following tables:
{table_info}

Question: {input}

Skip the preamble and go straight into the sql.

Assistant
'''

chain.get_prompts()[0].template = query_generation_template
chain.get_prompts()[0].pretty_print()

Human: You are a SQLite expert.
Given an input question, first create a syntactically correct SQLite query to run.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today".

Only use the following tables:
{table_info}

Question: {input}

Skip the preamble and go straight into the sql.

Assistant

In [63]:
response = chain.invoke(
    {"question": "직원들은 몇 명이 있나요?"}, ## How many employees are there
    #config={'callbacks': [ConsoleCallbackHandler()]}
)

 SELECT COUNT(*) FROM "Employee"

In [64]:
db.run(response)

'[(8,)]'

![nn](./imgs/q1.png)

이 기법은 예제 행을 표시하고 테이블에 대해 명시하면 성능이 향상된다는 [논문](https://arxiv.org/pdf/2204.00498.pdf)에서 영감을 얻은 것입니다. 다음과 같이 전체 프롬프트를 검사할 수도 있습니다:

### 3.2. Execute SQL query
- 이제 SQL 쿼리를 생성했으니 이를 실행해야 합니다.
- 이것은 SQL 체인을 만들 때 가장 위험한 부분입니다.
- 데이터에 대해 자동화된 쿼리를 실행해도 괜찮은지 신중하게 고려하세요.
- 데이터베이스 연결 권한을 최대한 최소화하세요.
- 쿼리 실행 전에 사람의 승인 단계를 체인에 추가하는 것을 고려하세요(아래 참조).

쿼리 실행을 체인에 쉽게 추가하기 위해 `QuerySQLDatabaseTool`을 사용할 수 있습니다:

In [65]:
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool

In [66]:
execute_query = QuerySQLDataBaseTool(db=db)
write_query = create_sql_query_chain(llm_text, db)
write_query.get_prompts()[0].template = query_generation_template
chain = write_query | execute_query
chain.invoke(
    {"question": "직원들은 몇 명이 있나요?",}
)

 SELECT COUNT(*) FROM "Employee"

'[(8,)]'

### 3.3. Answer the question
이제 쿼리를 자동으로 생성하고 실행하는 방법이 생겼으므로 원래 질문과 SQL 쿼리 결과를 결합하여 최종 답변을 생성하기만 하면 됩니다. <BR>
이를 위해 질문과 결과를 다시 한 번 LLM에 전달하면 됩니다.

In [67]:
from operator import itemgetter
from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

In [69]:
advanced_query_generation_template='''

Human: You are a expert.
Given the following user Question, corresponding SQLQuery, and SQLResult, Answer the user Question.

Question: {question}
SQL Query: {query}
SQL Result: {result}
Answer: 


Assistant: 
'''

#chain.get_prompts()[0].template = advanced_query_generation_template
#chain.get_prompts()[0].pretty_print()

answer_prompt = PromptTemplate.from_template(advanced_query_generation_template)

answer = answer_prompt | llm_text | StrOutputParser()
chain = (
    RunnablePassthrough.assign(query=write_query).assign(
        result=itemgetter("query") | execute_query
    )
    | answer
)

response = chain.invoke(
    {"question": "직원들은 몇 명이 있나요?"},
    #config={'callbacks': [ConsoleCallbackHandler()]}
)

print ("================")
print ("\n\nRESPONSE:\n")
print (response)

 SELECT COUNT(*) FROM "Employee" 직원들은 8명이 있습니다.

SQL 쿼리에서 COUNT(*)를 사용하여 "Employee" 테이블의 행의 총 수를 계산하고 있습니다. SQL 결과에서 이 수치는 8로 나타나 있습니다. 따라서 직원 수는 8명입니다.================


RESPONSE:

 직원들은 8명이 있습니다.

SQL 쿼리에서 COUNT(*)를 사용하여 "Employee" 테이블의 행의 총 수를 계산하고 있습니다. SQL 결과에서 이 수치는 8로 나타나 있습니다. 따라서 직원 수는 8명입니다.

### 다른 질문을 해 봅시다.

In [70]:
response = chain.invoke(
    {"question": "국가별 총 매출을 나열합니다. 어느 국가의 고객이 가장 많이 지출했나요?"},
    #config={'callbacks': [ConsoleCallbackHandler()]}
)

print ("================")
print ("\n\nRESPONSE:\n")
print (response)

 SELECT BillingCountry, SUM(Total) AS TotalSales
FROM Invoice
GROUP BY BillingCountry
ORDER BY TotalSales DESC
LIMIT 5 국가별 총 매출을 보여주는 SQL 쿼리 결과에 따르면, 총 매출액이 가장 높은 국가는 USA로 523.06달러의 매출을 기록했습니다. 따라서 USA의 고객이 가장 많이 지출한 것으로 보입니다.================


RESPONSE:

 국가별 총 매출을 보여주는 SQL 쿼리 결과에 따르면, 총 매출액이 가장 높은 국가는 USA로 523.06달러의 매출을 기록했습니다. 따라서 USA의 고객이 가장 많이 지출한 것으로 보입니다.

![nn](./imgs/q2.png)

## **4. Next stpes**

- 좀 더 복잡한 쿼리 생성을 위해서는 몇 문장으로 된 프롬프트를 만들거나 쿼리 확인 단계를 추가할 수 있습니다. 이와 같은 고급 기법 등에 대한 자세한 내용은 여기를 참조하세요
     - [Prompting strategies](https://python.langchain.com/docs/use_cases/sql/prompting): Advanced prompt engineering techniques.
     - [Query checking](https://python.langchain.com/docs/use_cases/sql/query_checking): Add query validation and error handling.
     - [Large databses](https://python.langchain.com/docs/use_cases/sql/large_db): Techniques for working with large databases.

In [47]:
context = db.get_context()
print(list(context))
print(context["table_info"])

['table_info', 'table_names']

CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE "Artist" (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Employee" (
	"EmployeeId" INTEGER NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"FirstName" NVARCHAR(20) NOT NULL,
	"Title" NVARCHAR(30),
	"ReportsTo" INTEGER,
	"BirthDate" DATETIME,
	"HireDate" DATETIME,
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60),
	PRIMARY KEY ("EmployeeId"),
	FOREIGN KEY("ReportsTo") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Employee table:
EmployeeId	LastName	FirstName	Title	ReportsTo	BirthDate	HireDate	Address	City	State	Country	PostalCode	Phone	Fax	Email
1	Adams	Andrew	General Manager	None	1962-02-18 00:00:00	2002-08-14 00:00:00	11120 Jasper Ave NW	Edmonton	AB	Canada	T5K 2N1	+1 (780) 428-9482	+1 (780) 428-3457	andrew@chinookcorp.com
2	Edwards	Nancy	Sales Manager	1	1958-12-08 00:00:00	2002-05-01 00:00:00	825 8 Ave SW	Calgary	AB	Canada	T2P 2T3	+1 (403) 262-3443	+1 (403) 262-3322	nancy@chinookcorp.com
3	Peacock	Jane	Sales Support Agent	2	1973-08-29 00:00:00	2002-04-01 00:00:00	1111 6 Ave SW	Calgary	AB	Canada	T2P 5M5	+1 (403) 262-3443	+1 (403) 262-6712	jane@chinookcorp.com
*/


CREATE TABLE "Genre" (
	"GenreId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("GenreId")
)

/*
3 rows from Genre table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/


CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/


CREATE TABLE "MediaType" (
	"MediaTypeId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("MediaTypeId")
)

/*
3 rows from MediaType table:
MediaTypeId	Name
1	MPEG audio file
2	Protected AAC audio file
3	Protected MPEG-4 video file
*/


CREATE TABLE "Playlist" (
	"PlaylistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("PlaylistId")
)

/*
3 rows from Playlist table:
PlaylistId	Name
1	Music
2	Movies
3	TV Shows
*/


CREATE TABLE "PlaylistTrack" (
	"PlaylistId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	PRIMARY KEY ("PlaylistId", "TrackId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("PlaylistId") REFERENCES "Playlist" ("PlaylistId")
)

/*
3 rows from PlaylistTrack table:
PlaylistId	TrackId
1	3402
1	3389
1	3390
*/


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/